<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::logout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <i onclick="toggleSidebar()"  class="fas fa-bars m-3"></i>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Add Contacts</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                   <div class="col-md-8 offset-md-2">

                       <div th:if="${session.message}" th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
                           <span th:text="${session.message.content}"></span>
                           <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                       </div>

                       <form th:action="@{/user/process-contact}" method="post" th:object="${contact}" enctype="multipart/form-data" class="mt-2">

                           <!--First Name-->
                           <div class="form-group">
                               <label for="cname">Enter Your Name</label>
                               <input type="text" class="form-control" id="cname" name="cname" aria-describedby="emailHelp" placeholder="Enter Here" required>
                           </div>

                           <!--Second Name-->
                           <div class="form-group">
                               <label for="secondName">Enter Your NikeName</label>
                               <input type="text" class="form-control" id="secondName" name="secondName" aria-describedby="emailHelp" placeholder="Enter Here" required>
                           </div>

                           <!--Phone -->
                           <div class="form-group">
                               <label for="phone">Enter Your Phone Number</label>
                               <input type="number" class="form-control" id="phone" name="phone"  aria-describedby="emailHelp" placeholder="Enter Here" required>
                           </div>

                           <!-- Email Address-->
                           <div class="form-group">
                               <label for="email">Enter Your Email</label>
                               <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Here" required>
                           </div>

                           <!--Work-->
                           <div class="form-group">
                               <label for="work">Enter Your Work</label>
                               <input type="text" class="form-control" id="work" name="work" placeholder="Enter Here" required>
                           </div>

                           <!--Description-->
                           <div class="form-group mt-3">
                              <textarea id="description" name="description" placeholder="Enter Contact Description" rows="10" class="form-control"></textarea>
                           </div>

                           <!--Contact Image-->
                           <div class="custom-file mt-2">
                               <input type="file" name="profileImage">
                           </div>

                           <div class="container text-center">
                               <button type="submit" class="btn btn-outline-primary">Save Contacts</button>
                               <button type="reset" class="btn btn-outline-danger">Reset</button>
                           </div>
                       </form>

                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>