<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::logout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <i onclick="toggleSidebar()"  class="fas fa-bars m-3"></i>
    <div class="container">
        <div class="card">
            <div class="card-body my-5">

                <div class="container text-center">
                    <img src="#" style="width: 200px;height: 200px" class="my_profile_picture" th:src="@{'/image/contactlogo.png'}" alt="profile photo">
                </div>

                <h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
                    Start Adding Your Contact on cloud...
                </h1>

                <a th:href="@{/user/add_contact}" class="btn btn-primary btn-block mt-4 text-uppercase">Add New Contact</a>

            </div>
        </div>
    </div>
</section>
</body>
</html>